body {
  --textLink: #9040bb;
  --inlineCodeBackground: rgba(255, 229, 100, 0.2);
  --inlineCodeText: #1a1a1a;
}

.description-line {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.social-link {
  margin-right: 0.5rem;
}

.social-link:last-child {
  margin-right: 0;
}

.link-hover {
	position: relative;
	display: inline-block;
	box-shadow: none;
}

.link-hover:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: var(--textLink);
	opacity: 0;
	transition: all 0.5s ease;
}

.link-hover:hover:after {
	width: 100%;
	left: 0;
	opacity: 1;
}

.link-hover.__left:after {
	left: 0;
}

.link-hover.__right:after {
	left: auto;
	right: 0;
}

.link-hover.__right:hover:after {
	left: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCodeBackground);
  color: var(--inlineCodeText);
  padding: 0.15em 0.2em 0.05em !important;
  white-space: normal;
}

article > section h1,
article > section h2,
article > section h3,
article > section h4,
article > section h5,
article > section h6 {
  padding-left: 1rem;
  margin-left: -1rem;
}

a.anchor {
  font-size: 1rem;
  height: 24px;
  padding: 4px;
  top: 50% !important;
  transform: translate(-0.75rem, -50%) !important;
  box-shadow: none;
}

a.anchor svg {
  stroke: var(--textLink);
}

@media (max-width: 720px) {
  article > section h1,
  article > section h2,
  article > section h3,
  article > section h4,
  article > section h5,
  article > section h6 {
    padding-left: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  a.anchor svg {
    visibility: visible !important;
  }
}
