body {
  --textLink: #9040bb;
  --inlineCodeBackground: rgba(255, 229, 100, 0.2);
  --inlineCodeText: #1a1a1a;
}

.description-line {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.social-link {
  margin-right: 0.5rem;
}

.social-link:last-child {
  margin-right: 0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCodeBackground);
  color: var(--inlineCodeText);
  padding: 0.15em 0.2em 0.05em !important;
  white-space: normal;
}